body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}


.game-area{
    position:relative;
    margin: 50px auto;
    width:600px;
    height: 600px;
    border: 2px solid black;
}

.board{
    margin: 70px
}

.wall-h{
    position:absolute;
    border-top: 3px solid red;
    width:67px;
    margin: -1px
}

.wall-v{
    position:absolute;
    border-right:3px solid red;
    height:67px;
    margin: -1px;
}

.board-row {
  clear: both;
  display: table;
}

.status {
    position: absolute;
    top:10px
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  width: 34px;
}

.player {
    position: absolute;
    width:30px;
    height:30px
}

div.rooms {
    position:relative;
    border:1px solid red;
    min-width: 50px;
    min-height: 50px;
    max-height: 500px;
    max-width:65%


}
p.room {
    text-align: center;
    vertical-align: middle;
    line-height: 500px
}
p.room {
    margin:10px;
}
.button {
    margin: 20px
}
